   
          body {
            font-family: Arial, sans-serif;
            background-color: #f0f4f8;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            min-height: 100vh;
        }
        .login-container {
            margin-top: 160px;
            background-color: #ffffff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            max-width: 400px;
            width: 100%;
        }
        h2 {
            color: #4A90E2;
            margin-bottom: 20px;
        }
        .login-input {
            width: calc(100% - 22px);
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        .login-btn {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 1em;
            width: 100%;
        }
        .login-btn:hover {
            background-color: #45a049;
        }
        .error {
            color: #d9534f;
            font-size: 0.9em;
            margin-top: 10px;
        }
          .navbar {
            width: 100%;
            background-color: #4A90E2;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 20px;
            box-sizing: border-box;
        }
        
        .navbar a, .navbar button {
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.1em;
            background: none;
            border: none;
            cursor: pointer;
        }

        .navbar button:hover {
            text-decoration: underline;
        }
        a[onclick]{
        pointer-events: none;
        }
        .aqui{
        max-width: 600px;
        margin: 24px auto;
        }
        .aqui p a{
        text-decoration: none;
        font-size: 20px;
        background-color: #4A90E2;
        padding: 16px;
        border-radius: 0.4rem;
        color: white;
        transition: 1s ease-in-out;
        }
        .aqui p a:hover{
        background-color: #d9534f;
        }